* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'lucida grande', verdana, tahoma, arial;
}

#bar {
    opacity: 0.6;
    clear: both;
    overflow: hidden;
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    height: 30px;
    background: #000;
    z-index : 200;
}

#search {
    float: left;
    margin-right: 20px;
}

#channels {
    float: left;
}

#channels a {
    line-height: 30px;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    margin-right: 20px;
}

#search-input {
    font-size: 1.2em;
    margin-right: 10px;
    width: 450px;;
    height: 30px;
}

#search-button {
}
