* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: 'lucida grande', verdana, tahoma, arial;
}

#bar {
    vertical-align: middle;
    clear: both;
    overflow: hidden;
    box-shadow: 5px 5px 0 #000;
    background: url('img/h-bg.png') repeat-x;
    color: #fff;
    width: 100%;
    height: 70px;
    z-index: 4000;
}

#logo {
    float: left;
    margin-top: 19px;
    margin-left: 20px;
    margin-right: 20px;
}

#search {
    float: left;
    margin-right: 20px;
    margin-top: 17px;
}

#channels {
    float: left;
}

#channels a {
    line-height: 65px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    margin-right: 20px;
    color: #becfd8;
    text-shadow: 0 1px #000;
}

#channels a:active, #channels a:hover {
    color: #fff;
}

#search-input {
    vertical-align: top;
    padding: 5px;
    width: 450px;
    height: 30px;
    border: 2px solid #27556d;
    border-radius: 3px;
}

#search-button {
    border: 2px solid #27556d;
    border-radius: 3px;
}

.active { padding-bottom: 3px; border-bottom: 2px solid #fff; }
